<script>
	import { omit } from "ramda"

	import Card from "./Card.svelte"
	import Grid from "./Grid.svelte"

	export let items
	export let extra

	$: sortedItems = items.sort((a, b) => (a.title.toLowerCase() > b.title.toLowerCase() ? 1 : -1))
</script>

<Grid items={sortedItems} let:item {extra}>
	<Card {...omit(['id'], item)} {extra} />
</Grid>
